# Ignore Python-related files
__pycache__/
dist/

# Pytest, coverage & other tools
.pytest_cache
.coverage
htmlcov
.ruff_cache/
.mypy_cache/
.import_linter_cache/

# IDE files
.idea/

# Ignore local configuration
.env
